name: Event storage tests

on:
  pull_request:
    branches: [ main ]
    
  workflow_call:

jobs:
  Testing:
    uses: ./.github/workflows/run-tests.yml
    with:
      unit_and_functionality_tests_project_path: 'tests/EventStorage.Tests.csproj'
    secrets: inherit